/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 20rem 4fr;
  grid-template-rows: 10rem 4fr;
  padding: 0;
  margin: 0;
}

body > div {
  padding: 1rem;
}

.sidebar {
  background-color: blue;
  color: white;
  grid-row-start: span 2;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 1rem;
  margin: 3rem 0rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.main-content {
  background-color: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: 4fr 25rem;
  gap: 1.5rem;
}

.main-left {

}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.main-right {
  
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-left: .5rem solid gold;
}

.sideblock {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.announcement {

}

hr {
  color: rgba(0, 0, 0, 0.164);
}

p,
ul,
h1,
h2 {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  margin-top: 0;
}

p.large {
  font-weight: 700;
  font-size: 2rem;
}

input.search {
  width: 100%;
  border-radius: 10px;
}

/* header children */

.header-top-left {
  display: grid;
  
}

.header-top-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: ;
}
.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}